.container {
    /* background-color: rgb(255, 0, 179); */
    height: 100px;
    margin-top: 10%;
}

#container #row {
    /* background-color: yellow; */
    height: 100%;
}

#container #row #col1{
    /* background-color: aliceblue; */
    height: 100%;
}

#container #row #col2{
    /* background-color: aliceblue; */
    height: 100%;
}

#container #row #col3{
    /* background-color: aliceblue; */
    height: 100%;
}

#container #row #col4{
    /* background-color: aliceblue; */
    height: 100%;
}

